
{#{{ form_start(form) }}#}
{#{{ form_widget(form) }}#}
{#{{ form_end(form) }}#}
{% if cityCode[0] is not defined %}
    <form method="post" action="{{ asset('findCity') }}">
        <input type="text" name="city">
        <input type="submit" value="Check...">
    </form>
    {% if failure is defined %}
        <span style="color: red">You cannot add city {{ cityName }} to Your Weather City List.</span><br>
    {% endif %}
{% endif %}
{#{{ cityCode[0] }}#}
    {% if cityCode[0] is defined and cityName is defined %}
       <span>You can add  <b>{{ cityName }}</b> to Your Weather City List</span> <br>
        <form method="post" action="{{ asset('add') }}">
            <input name="add" type="submit" value="Add">
        </form>
    {% endif %}
