
{#{{ form_start(form) }}#}
{#{{ form_widget(form) }}#}
{#{{ form_end(form) }}#}

<form method="post" action="{{ asset('findCity') }}">
    <input type="text" name="city">
    <input type="submit" value="Check">
    {{ cityCode[0] }}
</form>
