{% extends "::base.html.twig" %}
{% block title %}Nowa strona {% endblock %}
{% block body %}
    <div style="margin-left: 40%; margin-right: 40%; border: solid 1px darkblue; width: 20%">
        <form action="{{ asset('get') }}" method="post" style="margin-left: 5%">
            {% if selectedCity == null %}
                {% set selectedCity = cities[0].name %}
            {% endif %}
            <select name="selectCity" onchange="form.submit()" id="citySelection" city="{{ selectedCity }}">
                {% for city in cities %}
                <option value="{{ city.code }}|{{ city.name }}" class="selectCityOption">{{ city.name }}</option>
                {% endfor %}
            </select>
        </form>
        <img src="" width="100" id="graphic" style="margin-left:50px"><br>
        <span id="temp" style="font-size: 120%"></span><br>
    </div>
{% endblock %}